.container {
  position: relative;
  padding: 1rem;
  left: 2%;
  width: 90vw;
  margin: 0 auto;
}

.loader_container {
  height: 100%;
  margin-top: 3rem;
  display: grid;
  place-items: center;
}

p {
  color: white;
}

@media (max-width: 900px) {
  .container {
    left: 0;
    width: 95vw;
  }
}

@media (max-width: 600px) {
  .container {
    margin-top: 1rem;
  }
}

.favorites-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  margin: 20px;
}

.pokemon-card {
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.body_card:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.5s ease all;
}
.body_card {
  transition: 0.5s ease all;
}

.pokemon-image {
  border-radius: 5px;
  width: 100%;
  height: auto;
}

.no-favorites {
  text-align: center;
  font-size: 18px;
  color: #888;
}

/* boton eliminar de favoritos */

button {
  margin: 0 auto !important;
  margin-bottom: 0.5rem !important;
  --color: #0077ff;
  font-family: inherit;
  display: inline-block;
  width: 6em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  cursor: pointer;
  margin: 20px;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
}

button::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 150px;
  height: 180px;
  z-index: -1;
  border-radius: 50%;
}

button:hover {
  color: white;
}

button:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

button:hover::before {
  top: -30px;
  left: -30px;
}
