<div class="contenedor">
  <div class="title_container">
    <div class="title">{{ title }}</div>
    <img
      [ngSrc]="category.sprites['generation-ix']['scarlet-violet'].name_icon"
      width="100"
      height="100"
      *ngIf="category"
      alt=""
      priority
    />
  </div>

  <div class="inputPokemon">
    <div class="container">
      <div class="search-container">
        <input
          (input)="filterPokemons()"
          [(ngModel)]="searchPokemon"
          class="input"
          type="text"
          placeholder="Buscar Pokémon..."
        />
        <svg viewBox="0 0 24 24" class="search__icon">
          <g>
            <path
              d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"
            ></path>
          </g>
        </svg>
      </div>
    </div>
    <div class="backButton" *ngIf="categoryId != null">
      <div class="styled-wrapper" routerLink="/">
        <button class="button">
          <div class="button-box">
            <span class="button-elem">
              <svg
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                class="arrow-icon"
              >
                <path
                  fill="black"
                  d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"
                ></path>
              </svg>
            </span>
            <span class="button-elem">
              <svg
                fill="black"
                viewBox="0 0  24 24"
                xmlns="http://www.w3.org/2000/svg"
                class="arrow-icon"
              >
                <path
                  d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"
                ></path>
              </svg>
            </span>
          </div>
        </button>
      </div>
    </div>
  </div>

  <div class="card_container">
    <div
      class="find_loader"
      *ngIf="loadingInitial && filteredPokemons.length === 0"
    >
      <div class="loader"></div>
      <p>Cargando Pokémon...</p>
    </div>

    <div class="find_loader" *ngIf="!loadingInitial && loadingSearch">
      <div class="loader"></div>
      <p>No se encontró el Pokémon...</p>
    </div>

    <div
      class="card_pokemon"
      *ngFor="let pokemon of filteredPokemons"
      data-aos="zoom-in-left"
    >
      <div
        class="heart-icon"
        (click)="toggleFavorite(pokemon)"
        [ngClass]="{ favorite: pokemon.favorite }"
      >
        ♥
      </div>
      <div class="loader_container" *ngIf="pokemon.loading">
        <div class="loader"></div>
      </div>
      <p>{{ pokemon.name }}</p>

      <div class="images">
        <img
          [ngSrc]="pokemon.sprites.other.home.front_default"
          (load)="onImageLoad(pokemon)"
          *ngIf="!pokemon.loading"
          loading="lazy"
          alt=""
          width="100"
          height="100"
        />
        <img
          [routerLink]="['/pokemon/' + pokemon.id]"
          [ngSrc]="pokemon.sprites.other.dream_world.front_default"
          (load)="onImageLoad(pokemon)"
          loading="lazy"
          alt=""
          width="100"
          height="100"
        />
      </div>
    </div>
  </div>

  <div class="button_container">
    <button
      class="learn-more"
      *ngIf="filteredPokemons.length > 29"
      (click)="showMore()"
    >
      <span aria-hidden="true" class="circle">
        <span class="icon arrow"></span>
      </span>
      <span class="button-text">Ver Más</span>
    </button>
    <button class="up" (click)="scrollToTop()">↑</button>
  </div>
</div>
