<h2 mat-dialog-title>Proyecto en Desarrollo</h2>
<mat-dialog-content>
  <p>Este proyecto es una aplicación que consume la API de Pokémon.</p>
  <p>Características:</p>
  <ul>
    <li>Desarrollado en <strong>Angular</strong>.</li>
    <li>
      Interfaz construida con <strong>CSS, Angular Material y PrimeNG</strong>.
    </li>
    <li>Datos almacenados en <strong>LocalStorage</strong>.</li>
    <li>Actualmente en fase de <strong>demostración</strong>.</li>
  </ul>
  <p>
    Este es un desarrollo en curso, aún se está optimizando su funcionamiento.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="closeDialog()">Aceptar</button>
</mat-dialog-actions>
